<header class="page-header">
  <h1 class="page-title">Page title</h1>

  <div class="page-tabs" *ngIf="tabs.length > 0">
    <nav #tabNav mat-tab-nav-bar color="accent">

      <a mat-tab-link *ngFor="let tab of tabs">
        {{ tab }}
      </a>
    </nav>
  </div>

  <div class="flex-spacer" *ngIf="tabs.length === 0"></div>

  <div class="page-toolbar">
    <mat-icon>settings</mat-icon>
  </div>
</header>
<article class="page-content">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae praesentium officia laboriosam quia saepe quasi numquam reprehenderit
    temporibus labore minima tempore ullam at, perferendis, ab libero asperiores ex maxime facere.</p>

  <button (click)="addTab('text')">ADD TAB</button>
</article>
